.vscode/tasks.json
Linear Algebra/Lab 1/.vscode/settings.json
Linear Algebra/Lab 1/Homework/Task.aux
Linear Algebra/Lab 1/Homework/Task.fdb_latexmk
Linear Algebra/Lab 1/Homework/Task.fls
Linear Algebra/Lab 1/Homework/Task.log
Linear Algebra/Lab 1/Homewzork/Task.pdf
Linear Algebra/Lab 1/Homework/Task.synctex.gz
Linear Algebra/Lab 1/Homework/Task.toc
Data Structures/Lab 02/a.out
Computer Architecture/.vscode/launch.json
Data Structures/.vscode/launch.json
Data Structures/.vscode/tasks.json
Algorithms/Notes.aux
Algorithms/Notes.fdb_latexmk
Algorithms/Notes.fls
Algorithms/Notes.log
Algorithms/Notes.pdf
Algorithms/Notes.synctex.gz
Algorithms/Notes.toc
Computer Architecture/Lab 2/Homework/assignment.aux
Computer Architecture/Lab 2/Homework/assignment.fdb_latexmk
Computer Architecture/Lab 2/Homework/assignment.fls
Computer Architecture/Lab 2/Homework/assignment.log
Computer Architecture/Lab 2/Homework/assignment.pdf
Computer Architecture/Lab 2/Homework/assignment.synctex.gz
Computer Architecture/Lab 2/Homework/Erg_02.pdf
Computer Architecture/Lab 2/Homework/erg02_student-tp5000.zip
Computer Architecture/Assignment 3/capture01.png
Computer Architecture/Assignment 3/capture2.png
Computer Architecture/Assignment 3/Homework/capture01.png
Computer Architecture/Assignment 3/Homework/capture2.png
