.vscode/settings.json
*/.idea/*
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/
Past Courses/Algorithms/Notes.aux
Past Courses/Algorithms/Notes.fdb_latexmk
Past Courses/Algorithms/Notes.fls
Past Courses/Algorithms/Notes.log
Past Courses/Algorithms/Notes.synctex.gz
Past Courses/Algorithms/Notes.toc
Current Courses/Computer Science Teaching/FiraMono-Bold.otf
Current Courses/Computer Science Teaching/FiraMono-Regular.otf
Current Courses/Computer Science Teaching/FiraSans-Book.otf
Current Courses/Computer Science Teaching/project.aux
Current Courses/Computer Science Teaching/project.fdb_latexmk
Current Courses/Computer Science Teaching/project.fls
Current Courses/Computer Science Teaching/project.log
Current Courses/Computer Science Teaching/project.md
Current Courses/Computer Science Teaching/project.out
Current Courses/Computer Science Teaching/project.synctex.gz
Current Courses/Computer Science Teaching/project.toc
Current Courses/Computer Architecture/Assignment 8/temp.py
Current Courses/Computer Architecture/Assignment 7/temp.py
Current Courses/Computer Architecture/renm.py
Current Courses/Computer Science Teaching/CascadiaMono.otf
Current Courses/Computer Science Teaching/RobotoMono-Regular.ttf
Current Courses/Computer Science Teaching/EBGaramond-Regular.ttf
Current Courses/Computer Science Teaching/NewCMMono10-Regular.otf
Current Courses/Linear Algebra/Project 2/EBGaramond-Regular.ttf
Current Courses/Linear Algebra/Project 2/FiraMono-Regular.otf
Current Courses/Linear Algebra/Project 2/project_2.aux
Current Courses/Linear Algebra/Project 2/project_2.fdb_latexmk
Current Courses/Linear Algebra/Project 2/project_2.fls
Current Courses/Linear Algebra/Project 2/project_2.log
Current Courses/Linear Algebra/Project 2/project_2.out
Current Courses/Linear Algebra/Project 2/project_2.synctex.gz
Current Courses/Linear Algebra/Project 2/project_2.toc
Current Courses/Linear Algebra/Project 1/Project 1.aux
Current Courses/Linear Algebra/Project 1/Project 1.fdb_latexmk
Current Courses/Linear Algebra/Project 1/Project 1.fls
Current Courses/Linear Algebra/Project 1/Project 1.log
Current Courses/Linear Algebra/Project 1/Project 1.pdf
Current Courses/Linear Algebra/Project 1/Project 1.synctex.gz
Current Courses/Linear Algebra/Project 1/Project 1.toc
Current Courses/Computer Science Teaching/project.uhy
Current Courses/Linear Algebra/Project 3/project3.aux
Current Courses/Linear Algebra/Project 3/project3.fdb_latexmk
Current Courses/Linear Algebra/Project 3/project3.fls
Current Courses/Linear Algebra/Project 3/project3.log
Current Courses/Linear Algebra/Project 3/project3.out
Current Courses/Linear Algebra/Project 3/project3.toc
Current Courses/Linear Algebra/Project 3/project3.synctex.gz
Current Courses/Data Structures/lab_notes/notes.aux
Current Courses/Data Structures/lab_notes/notes.fdb_latexmk
Current Courses/Data Structures/lab_notes/notes.fls
Current Courses/Data Structures/lab_notes/notes.log
Current Courses/Data Structures/lab_notes/notes.out
Current Courses/Data Structures/lab_notes/notes.synctex.gz
Current Courses/Data Structures/lab_notes/notes.toc
Current Courses/Data Structures/lab_notes/code/a.out
Past Courses/Multimedia Technology/EBGaramond-Regular.ttf
Past Courses/Multimedia Technology/Notes.aux
Past Courses/Multimedia Technology/Notes.dvi
Past Courses/Multimedia Technology/Notes.fdb_latexmk
Past Courses/Multimedia Technology/Notes.fls
Past Courses/Multimedia Technology/Notes.log
Past Courses/Multimedia Technology/Notes.out
Past Courses/Multimedia Technology/Notes.toc
Past Courses/Multimedia Technology/Notes.synctex.gz
Current Courses/Introduction to Telecommunications/EBGaramond-Regular.ttf
Current Courses/Introduction to Telecommunications/notes.aux
Current Courses/Introduction to Telecommunications/notes.dvi
Current Courses/Introduction to Telecommunications/notes.fdb_latexmk
Current Courses/Introduction to Telecommunications/notes.fls
Current Courses/Introduction to Telecommunications/notes.log
Current Courses/Introduction to Telecommunications/notes.out
Current Courses/Introduction to Telecommunications/notes.toc
Current Courses/Introduction to Telecommunications/notes.synctex.gz
Current Courses/Introduction to Telecommunications/notes/notes.toc
Current Courses/Introduction to Telecommunications/notes/notes.synctex.gz
Current Courses/Introduction to Telecommunications/notes/EBGaramond-Regular.ttf
Current Courses/Introduction to Telecommunications/notes/notes.aux
Current Courses/Introduction to Telecommunications/notes/notes.dvi
Current Courses/Introduction to Telecommunications/notes/notes.fdb_latexmk
Current Courses/Introduction to Telecommunications/notes/notes.fls
Current Courses/Introduction to Telecommunications/notes/notes.log
Current Courses/Introduction to Telecommunications/notes/notes.out
Current Courses/Programming/Notes/notes.aux
Current Courses/Programming/Notes/notes.dvi
Current Courses/Programming/Notes/notes.fdb_latexmk
Current Courses/Programming/Notes/notes.fls
Current Courses/Programming/Notes/notes.log
Current Courses/Programming/Notes/notes.out
Current Courses/Programming/Notes/notes.out.ps
Current Courses/Programming/Notes/notes.toc
Current Courses/Programming/Notes/notes.synctex.gz
Past Courses/Introduction to Telecommunications/notes/EBGaramond-Regular.ttf
Past Courses/Introduction to Telecommunications/notes/notes.aux
Past Courses/Introduction to Telecommunications/notes/notes.dvi
Past Courses/Introduction to Telecommunications/notes/notes.fdb_latexmk
Past Courses/Introduction to Telecommunications/notes/notes.fls
Past Courses/Introduction to Telecommunications/notes/notes.log
Past Courses/Introduction to Telecommunications/notes/notes.out
Past Courses/Introduction to Telecommunications/notes/notes.synctex.gz
Past Courses/Introduction to Telecommunications/notes/notes.toc
Past Courses/Data Structures/lab_notes/notes.aux
Past Courses/Data Structures/lab_notes/notes.fdb_latexmk
Past Courses/Data Structures/lab_notes/notes.fls
Past Courses/Data Structures/lab_notes/notes.log
Current Courses/Plain Driven Programming/Lab/Assignment 2/__pycache__/card.cpython-38.pyc
Current Courses/Plain Driven Programming/Lab/Assignments_1-2.zip
Current Courses/Plain Driven Programming/Lab/.idea/Lab.iml
Current Courses/Plain Driven Programming/Lab/.idea/misc.xml
Current Courses/Plain Driven Programming/Lab/.idea/modules.xml
Current Courses/Plain Driven Programming/Lab/.idea/vcs.xml
Current Courses/Plain Driven Programming/Lab/.idea/inspectionProfiles/profiles_settings.xml
Current Courses/Plain Driven Programming/Lab/Assignment 3/__pycache__/card.cpython-38.pyc
Current Courses/Plain Driven Programming/Lab/Assignment 3/__pycache__/deck.cpython-38.pyc
Current Courses/Plain Driven Programming/Lab/Assignment 3/__pycache__/human.cpython-38.pyc
Current Courses/Plain Driven Programming/Lab/.idea/.gitignore
Current Courses/Logic Programming/__pycache__/task.cpython-38.pyc
Current Courses/Logic Programming/121481081_721908838397422_4187437675773737313_n.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/backview.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_2.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_3.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_4.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_5.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_6.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_7.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_8.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_9.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_10.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_A.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_J.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_K.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Clubs_Q.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_2.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_3.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_4.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_5.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_6.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_7.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_8.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_9.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_10.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_A.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_J.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_K.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Diamonds_Q.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/empty.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_2.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_3.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_4.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_5.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_6.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_7.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_8.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_9.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_10.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_A.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_J.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_K.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Hearts_Q.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_2.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_3.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_4.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_5.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_6.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_7.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_8.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_9.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_10.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_A.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_J.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_K.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards/Spades_Q.png
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/.gitignore
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/Assignment 3.iml
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/misc.xml
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/modules.xml
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/vcs.xml
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/inspectionProfiles/profiles_settings.xml
Current Courses/Plain Driven Programming/Lab/Assignment 3/.idea/inspectionProfiles/Project_Default.xml
Current Courses/Plain Driven Programming/Lab/Assignment 3/__pycache__/dealer.cpython-38.pyc
Current Courses/Plain Driven Programming/Lab/Assignment 3/__pycache__/player.cpython-38.pyc
Current Courses/Plain Driven Programming/Lab/Assignment 3/cards.zip
Current Courses/Plain Driven Programming/Lab/Assignment 3/Revision Excercise 3.pdf
Current Courses/Plain Driven Programming/Lab/Assignment 3/dui.ui
Current Courses/Plain Driven Programming/Lab/Assignment 3/ERGASIA_YPOXREWTIKI_Ergasia4.pdf
Current Courses/Applied Mathematics/lec_00/lec_00.synctex.gz
Current Courses/Applied Mathematics/lec_00/lec_00.log
Current Courses/Applied Mathematics/lec_00/lec_00.fls
Current Courses/Applied Mathematics/lec_00/lec_00.fdb_latexmk
Current Courses/Applied Mathematics/lec_00/lec_00.aux
Current Courses/Applied Mathematics/lec_00/lec_00.toc
Current Courses/Applied Mathematics/notes.toc
Current Courses/Applied Mathematics/notes.synctex.gz
Current Courses/Applied Mathematics/notes.aux
Current Courses/Applied Mathematics/notes.fdb_latexmk
Current Courses/Applied Mathematics/notes.fls
Current Courses/Applied Mathematics/notes.log
Current Courses/Applied Mathematics/notes.dvi
